@import "tailwindcss";
@source "src/**/*.{rs,css}";
@import "./design.css";
/*
:root {
    --dx-primary: #336699;
    --dx-active: #996633;
    --dx-hover: #996633;
    --dx-destructive: var(--color-red-500);

    --dx-surface0: #000;
    --dx-on-surface0: #fff;

    --dx-surface1: #111;
    --dx-on-surface1: #fff;
}*/

/*:root {
    --dx-primary: #336699;
    --dx-active: #996633;
    --dx-hover: #996633;
    --dx-destructive: var(--color-red-500);

    --dx-surface0: #000;
    --dx-on-surface0: #fff;

    --dx-surface1: #111;
    --dx-on-surface1: #fff;
}*/

body {
    @apply w-dvw h-svh flex;
}

#main {
    @apply w-full h-full flex;
}
